header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: cornsilk;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 2em;
 
 color: cornsilk;
}
img{
width: 80px;
height: 65px;
object-fit: contain;
}
a{
  color: rgb(105, 94, 47);
  text-decoration:antiquewhite ;
}