header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: cornsilk;
  
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 2em;

 color: cornsilk;
}
img{
width: 90px;
height: 75px;
object-fit: contain;
 margin: 3px;
 padding: 3px;
}
