.footer{
    display: flex;
flex-direction: column;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 13px;
align-items: center;
position: relative;
margin: 8px 0;
padding: 10px;
width: 100%;
justify-content: space-between;
height: 160px;
background-color: black;
box-sizing: border-box;


}
.buton{
    width: 3px;
    
}
.social-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }